- content_for :title do
  #{current_page.title}
!!!
%html{dir: "ltr", lang: "en", "xmlns:fb" => "http://ogp.me/ns/fb#"}
  %head
    = partial "shared/meta"
    = stylesheet_link_tag "syntax_highlighting"
  %body{:class => page_classes}
    = partial "shared/header"
    .container
      #post-main
        %article.post-header
          = partial "shared/article_header", :locals => { :article => current_page }
          .body
            = yield
            .tags
              %ol
                - current_page.tags.each do |tag|
                  %li= blog_tag(tag)
    = partial "shared/footer"
