- content_for :title do
  #{current_page.title}
!!!
%html{dir: "ltr", lang: "en", "xmlns:fb" => "http://ogp.me/ns/fb#"}
  %head
    = stylesheet_link_tag "syntax_highlighting"
    = partial "shared/meta"
  %body{:class => page_classes}
    = partial "shared/header"
    .container
      #post-main
        %article.post-header
          = partial "shared/article_header", :locals => { :article => current_page }
          .body
            = yield
            .tags
              %ol
                - current_page.tags.each do |tag|
                  %li= blog_tag(tag)
            %section.post-footer
              %h1.small-h1.post-author-header
                Our Engineers
                .post-author.clearfix
                  .author-avatar
                    %img{alt: "", src: image_path('default-avatar.png')}/
                  .author-details
                    %h1 Authors Name
                    %span Bio
                    %span.author-posts-link
                      = link_to "View Authors Profile", "/"
    = partial "shared/footer"


