!!!
%html{dir: "ltr", lang: "en", "xmlns:fb" => "http://ogp.me/ns/fb#"}
  %head
    = partial "shared/meta"
  %body{:class => page_classes}
    = partial "shared/header"
    %h1= author.name
    %h2= author.bio
    %h2= author.twitter
    %h2= author.email
    = partial "shared/footer"

    %section#author-posts
      %h1 Author's posts
      %ol
        - blog.articles.select { |a| a.data.author == author.twitter }.each do |article|
          %li
            = link_to article.title, article
            %span= article.date.strftime('%b %e')