- content_for :title do
  #{author.name}

.banner
  .layout-wrapper
    .layout-inner
      %h1= author.name
      %h2 bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio

.container
  #main
    .articles
      %section.articles-recent
        %h1.small-h1 Authors Articles
        = partial "shared/article_list", :locals => { :articles => blog.articles.select { |a| a.data.author == author.twitter } }

    %aside.sidebar
      %section.latest-tweet
        .tweet
          %h1.small-box-title Latest Tweet
          %p Looking forward to our sold out event tomorrow at @FitzwilliamDUB with @IDC and Apres Match's Barry Murphy         #COTTP  about 8 hours ago
        .follow
          %span.follow-text Follow me on Twitter
          %span.twitter-account
            = link_to  "@#{author.twitter}", "http://twitter.com/#{author.twitter}"

