%meta{charset: "utf-8"}
%meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
%meta{content: "text/html;", "http-equiv" => "content-type"}
- if yield_content(:title)
  %title= "#{yield_content(:title)} | #{app_name}"
- else
  %title= app_name
%meta{content: "index,follow", name: "robots"}
%meta{content: "initial-scale=1.0 maximum-scale=1.0 user-scalable=no", name: "viewport"}

%link{href: image_path('favicon.ico'), rel: "shortcut icon", type: "image/x-icon"}
%link{href: image_path('touch-icon-iphone.png'), rel: "apple-touch-icon"}
%link{href: image_path('touch-icon-ipad.png'), rel: "apple-touch-icon", sizes: "72x72"}
%link{href: image_path('touch-icon-iphone-retina.png'), rel: "apple-touch-icon", sizes: "114x114"}
%link{href: image_path('touch-icon-ipad-retina.png'), rel: "apple-touch-icon", sizes: "144x144"}
/[if lt IE 9] <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
= stylesheet_link_tag "all"

/ OG
%meta{content: "#{app_name}", property: "og:title"}
%meta{content: "website", property: "og:type"}
%meta{content: image_path("novosco-og-icon.png"), property: "og:image"}
%meta{content: "http://engineering.novosco.com", property: "og:url"}
%meta{content: "#{app_name} ", property: "og:description"}
/ Twitter
%meta{content: "summary", name: "twitter:card"}
%meta{content: "http://engineering.novosco.com", name: "twitter:url"}
%meta{content: "#{app_name}", name: "twitter:title"}
%meta{content: "#{app_name} ", name: "twitter:description"}
%meta{content: image_path('novosco-og-icon.png'), name: "twitter:image"}
%meta{content: "@novoscoeng", name: "twitter:site"}
%meta{content: "@novosco", name: "twitter:creator"}

%meta{name: 'author', content: ''}

/ Typekit
= javascript_include_tag "//use.typekit.net/tjm4emr.js"
%script{:type => "text/javascript"}
  try{Typekit.load();}catch(e){};