%aside.sidebar
  %section.twitter
    = partial "shared/twitter_widget", :locals => {:twitter_id => "novoscotechblog", :twitter_widget_id => "385489744718618624"}
  %section.our-authors
    .authors-list
      %h1.small-h1 Our Engineers
      %ol
        - data.authors.each do |author_array|
          - author = author_array[1]
          %li
            %article.author
              .author-avatar
                %img{alt: "", src: image_path('default-avatar.png')}/
              .author-details
                %h1.small-h1= author['name']
                %span= author['bio']
                %span.author-posts-link
                  = link_to "View #{author['name']}'s posts", "/#{author['slug']}"
  %section.tag-cloud
    .tag-list
      %h1.small-h1 Tags
      %ol
        - blog.tags.each do |tag, articles|
          %li
            = link_to "#{tag} (#{articles.size})", tag_path(tag)
              