%aside.sidebar
  %section.latest-tweet
    .tweet
      %h1.small-box-title Latest Tweet
      %p Looking forward to our sold out event tomorrow at @FitzwilliamDUB with @IDC and Apres Match's Barry Murphy #COTTP  about 8 hours ago
    .follow
      %span.follow-text Follow us on Twitter
      %span.twitter-account
        = link_to  "@novoscotechblog", "http://twitter.com/novoscotechblog"
  %section.our-authors
    .authors-list
      %h1.small-h1 Our Engineers
      %ol
        - data.authors.each do |author_array|
          - author = author_array[1]
          %li
            .author-avatar
              %img{alt: "", src: image_path('default-avatar.png')}/
            .author-details
              %h3 Authors Name
              %span Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut into, phasellus.
              %span.author-posts-link
                = link_to author['name'], "/#{author['slug']}"
  %section.tag-cloud
    .tag-list
      %h1.small-h1 Tags
      %ol
        - blog.tags.each do |tag, articles|
          %li
            = link_to tag, tag_path(tag)
            (#{articles.size})