.container
  #main
    .articles
      .article-featured
        %h2.article-header
          = link_to featured_article.title, featured_article
        %span By #{author_link(featured_article.data.author)} on #{featured_article.date.strftime('%e %B %Y')}
        .body
          = featured_article.summary
          = link_to "Read more...", featured_article
      .articles-list
        %h2 Recent Articles
        %ol
          - blog.articles.each do |article|
            %li
              = link_to article.title, article
              %span= article.date.strftime('%e %b %Y')
              %span= author_link(article.data.author)
    %aside.sidebar
      .latest-tweet
        .tweet
          %h3 Latest Tweet
          %p Looking forward to our sold out event tomorrow at @FitzwilliamDUB with @IDC and Apres Match's Barry Murphy #COTTP  about 8 hours ago
        .follow
          %span.follow-text Follow us on Twitter
          %span.twitter-account
            = link_to  "@novoscotechblog", "http://twitter.com/novoscotechblog"
      .authors-list
        %h2 Our Engineers
        %ol
          - data.authors.each do |author_array|
            - author = author_array[1]
            %li
              = link_to author['name'], "/#{author['slug']}"
      .tag-cloud
        %h2 Tags
        %ol
          - blog.tags.each do |tag, articles|
            %li
              = link_to tag, tag_path(tag)
              (#{articles.size})
