.banner
  .layout-wrapper
    .layout-inner
      %h1 Some kind of intro strapline for Engineering
      %h2 Etiam at risus et justo dignissim. Proin quis tortor orci mondo.

.container

  #main
    .articles
      %section.article-featured
        %h1.small-box-title Featured Article
        %article
          = partial "shared/article_header", :locals => { :article => featured_article }
          .body
            = featured_article.summary
            = link_to "Read more...", featured_article
      %section.articles-recent
        %h1.small-h1 Recent Articles
        = partial "shared/article_list", :locals => { :articles => blog.articles }

    = partial "shared/sidebar"
